<include file="Publics/header" />


	<body>
		<!--header star-->
	    <header class="mui-bar mui-bar-nav" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box flex-col">
	            <div class="centerflex">
	                <i class="fdj iconfont icon-sousuo"></i>
	                <input type="text" name="" id="" value="" class="sch-txt" placeholder="输入您要搜索的商品" />
	            </div>
	        </div>
	        <a class="btn" href="#">
	            <i class="iconfont icon-gouwuche"></i>
	            <span>2</span>
	        </a>
	    </header>
		<!--header end-->
		




		<div class="warp clearfloat">
			<div class="lists clearfloat">
			<style type="text/css">
			.plkJ_topb{ background: #fff; padding-left: 10px; padding-right: 10px;     width: 100%;
    float: left; margin-bottom: 10px; padding-bottom: 10px; }
			.poyTlis{width: 100%; padding: 0px; margin: 0px;}
			 select{ padding: 0px; margin: 0px;     font-size: .4rem;color: #666666; text-align: center; }
				#s_province{width: 26.5%; float: left;     padding-left: 6.6%; height: 30px; padding-top: 5px; margin-top: 5px; text-align: center;}
				#s_city{ width: 26.5%;  float: left;     padding-left: 6.6%; height: 30px; padding-top: 2px; margin-top: 5px;  padding-bottom: 3px; text-align: center;}
				.posa{ padding-left: 6px;}
			</style>
<div class="plkJ_topb">
		<div id="poyTlis"> 
        <select id="s_province" name="s_province"></select>
          <select id="s_city" name="s_city" ></select>
          <script class="resources library" src="__SHOP_JS__/area.js" type="text/javascript"></script>
          <script type="text/javascript">_init_area();</script>
         </div>

         <div>
         	<select class="posa" id="s_province" >
			  <option value="volvo">选择类型</option>
			  <option value="saab">猪肉类</option>
			  <option value="opel">羊肉类</option>
			  <option value="audi">鸭肉类</option>
			  <option value="audi">鸡肉类</option>
			</select>
         </div>

         <div style=" clear: both;"></div>

            <div>
         	<select class="posa"  id="s_city">
			  <option value="volvo">选择分类</option>
			  <option value="saab">猪肉类</option>
			  <option value="opel">羊肉类</option>
			  <option value="audi">鸭肉类</option>
			  <option value="audi">鸡肉类</option>
			</select>
         </div>

              <div>
         	<select class="posa" id="s_province">
			  <option value="volvo">选择产地</option>
			  <option value="saab">国内</option>
			  <option value="opel">国外</option>
			</select>
         </div>

   		<div>
         	<select class="posa" id="s_city">
			  <option value="volvo">选择国家</option>
			  <option value="saab">美国</option>
			  <option value="opel">澳大利亚</option>
			  <option value="opel">新西兰</option>
			</select>
         </div>

</div>

<div style=" clear: both;"></div>
				<div class="top clearfloat">
					<ul>
						<li style="color: #ff0000">价格最高</li>
						<li>价格最低<i class="iconfont "></i></li>
						<li>人气销量<i class="iconfont "></i></li>
					</ul>
				</div>




<style type="text/css">
	.lists .bottom .lie .right, .confirm .lie .right{ width: 90% }
	.lists .bottom .lie .right .jifen, .confirm .lie .right .jifen{ color: #a5333b;}
	.poi li{ float: left; margin-right: 10px; font-size: 12px; background: #a73040; padding: 2px 10px; border-radius: 5px; margin-top: 5px;  }
	.poi li:nth-child(even){ background: #f79b3a; }
	.poi li a{ color: #fff; }
</style>
				<div class="bottom clearfloat">
					<div class="lie clearfloat">
						<!--<a href="detail.html">
							 <div class="tu clearfloat fl">
								<img src="upload/20.jpg"/>
							</div> 
						</a>-->
						<div class="right clearfloat fl">
							<a href="detail.html">
								<p class="tit">恒都 羔羊后腿 2000g/袋</p>
							</a>
							<div class="xia clearfloat">
								<a href="detail.html">
									<p class="jifen fl over">-18℃以下冷冻储存，不膻不腻，足不出户，享受纯正好羊肉，烧烤必备。</p>
								</a>
								<div style=" clear: both; " ></div>
								<ul class="poi">
									<li><a href="detail.html">加入购物车</a></li>
									<li><a href="detail.html">立即购买</a></li>
								</ul>
								

								<span class="fr db"><img src="__SHOP_IMG__/jia.png"/></span>

								
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<!-- <a href="detail.html">
							<div class="tu clearfloat fl">
								<img src="upload/20.jpg"/>
							</div>
						</a> -->
						<div class="right clearfloat fl">
							<a href="detail.html">
								<p class="tit">玺宴 澳大利亚 眼肉牛排 草饲</p>
							</a>
							<div class="xia clearfloat">
								<a href="detail.html">
									<p class="jifen fl over">-18℃以下冷冻储存，不膻不腻，足不出户，享受纯正好羊肉，烧烤必备。</p>
								</a>
								<div style=" clear: both; " ></div>
								<ul class="poi">
									<li><a href="detail.html">加入购物车</a></li>
									<li><a href="detail.html">立即购买</a></li>
								</ul>
								<span class="fr db"><img src="__SHOP_IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<!-- <a href="detail.html">
							<div class="tu clearfloat fl">
								<img src="upload/20.jpg"/>
							</div>
						</a> -->
						<div class="right clearfloat fl">
							<a href="detail.html">
								<p class="tit">熊氏牧场 法国猪肋排段 1000g/袋</p>
							</a>
							<div class="xia clearfloat">
								<a href="detail.html">
									<p class="jifen fl over">-18℃以下冷冻储存，不膻不腻，足不出户，享受纯正好羊肉，烧烤必备。</p>
								</a>
								<div style=" clear: both; " ></div>
								<ul class="poi">
									<li><a href="detail.html">加入购物车</a></li>
									<li><a href="detail.html">立即购买</a></li>
								</ul>
								<span class="fr db"><img src="__SHOP_IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<!-- <a href="detail.html">
							<div class="tu clearfloat fl">
								<img src="upload/20.jpg"/>
							</div>
						</a> -->
						<div class="right clearfloat fl">
							<a href="detail.html">
								<p class="tit">五合昆域 羊后腿 有机放养 1.5kg/袋</p>
							</a>
							<div class="xia clearfloat">
								<a href="detail.html">
									<p class="jifen fl over">-18℃以下冷冻储存，不膻不腻，足不出户，享受纯正好羊肉，烧烤必备。</p>
								</a>
								<div style=" clear: both; " ></div>
								<ul class="poi">
									<li><a href="detail.html">加入购物车</a></li>
									<li><a href="detail.html">立即购买</a></li>
								</ul>
								<span class="fr db"><img src="__SHOP_IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<!-- <a href="detail.html">
							<div class="tu clearfloat fl">
								<img src="upload/20.jpg"/>
							</div>
						</a> -->
						<div class="right clearfloat fl">
							<a href="detail.html">
								<p class="tit">精气神 长白山山黑猪 前肩梅花肉</p>
							</a>
							<div class="xia clearfloat">
								<a href="detail.html">
									<p class="jifen fl over">-18℃以下冷冻储存，不膻不腻，足不出户，享受纯正好羊肉，烧烤必备。</p>
								</a>
								<div style=" clear: both; " ></div>
								<ul class="poi">
									<li><a href="detail.html">加入购物车</a></li>
									<li><a href="detail.html">立即购买</a></li>
								</ul>
								<span class="fr db"><img src="__SHOP_IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--footer star-->
		<include file="Publics/footer" />
		
		<!--footer end-->
		
	</body>
	<script type="text/javascript" src="__SHOP_JS__/jquery-1.8.3.min.js" ></script>
	<script src="__SHOP_JS__/mui.min.js"></script>
	<script src="__SHOP_JS__/others.js"></script>
	<script type="text/javascript" src="__SHOP_JS__/hmt.js" ></script>
	<script src="__SHOP_SLICK__/slick.js" type="text/javascript" ></script>
	<!--插件-->
	<link rel="stylesheet" href="__SHOP_CSS__/swiper.min.css">
	<script src="__SHOP_JS__/swiper.jquery.min.js"></script>
</html>
