
	<include file="Publics/header" /><body>
		<!--header star-->
		<header class="mui-bar mui-bar1 mui-bar-nav mui-bar-nav1" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box top-sch-boxtwo top-sch-boxthree flex-col">
	                      返回
	        </div>
	    </header>
	    <!--header end-->
	    
	    <div class="warp clearfloat">
	    	<div class="h-top clearfloat box-s">
	    		<div class="tu clearfloat fl">
	    			<img src="__SHOP_IMG__/touxiang.png"/>
	    		</div>
	    		<div class="content clearfloat fl">
	    			<p class="hname">{$v.username}</p>
	    			<p class="htel">{$v.mobile}</p>
	    			<p class="hpthy">普通会员</p>
	    		</div>
	    		<a href="##" class="btn db clearfloat fr ra3">签到</a>
	    	</div>
	    	
	    	<div class="cashlist clearfloat">
	    		<ul>
	    			<li class="box-s">
	    				<a href="#recharge.html">
	    					<p class="fl">现金充值</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="cashlist clearfloat">
	    		<ul>
	    			<li class="box-s">
	    				<a href="#jfguanli.html">
	    					<p class="fl">可用积分管理</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#jfzhuanyong.html">
	    					<p class="fl">可用转待用</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#jfzhuanzhang.html">
	    					<p class="fl">可用积分转账</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="cashlist clearfloat">
	    		<ul>
	    			<li class="box-s">
	    				<a href="#spduihuan.html">
	    					<p class="fl">商品兑换券</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#baodan.html">
	    					<p class="fl">报单商品券</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    	<div class="cashlist clearfloat">
	    		<ul>
	    			<li class="box-s">
	    				<a href="#sqlianmeng.html">
	    					<p class="fl">申请加盟商</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#sqyunying.html">
	    					<p class="fl">申请自营店</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="{:U('shop/user/order')}">
	    					<p class="fl">消费订单管理</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#friend.html">
	    					<p class="fl">我的收藏</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#xiugai.html">
	    					<p class="fl">修改密码</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    			<li class="box-s">
	    				<a href="#xiugainame.html">
	    					<p class="fl">修改个人资料</p>
	    					<i class="iconfont icon-jiantou1 fr"></i>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    	<a href="{:U('user/user/logout')}" class="center-btn db ra3">退出登录</a>
	    </div>
	    
		<!--footer star-->
		<include file="Publics/footer" />
		
		<!--footer end-->
		
	</body>
	<script type="text/javascript" src="__SHOP_JS__/jquery-1.8.3.min.js" ></script>
	<script src="__SHOP_JS__/mui.min.js"></script>
	<script src="__SHOP_JS__/others.js"></script>
	<script type="text/javascript" src="__SHOP_JS__/hmt.js" ></script>
	<script src="__SHOP_SLICK__/slick.js" type="text/javascript" ></script>
	<!--插件-->
	<link rel="stylesheet" href="#__SHOP_CSS__/swiper.min.css">
	<script src="__SHOP_JS__/swiper.jquery.min.js"></script>
</html>
