
	<include file="Publics/header" /><body>
		<!--header star-->
	    <header class="mui-bar mui-bar-nav" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <style type="text/css">
	        	.top-sch-box h4{ text-align: center; }
	        </style>
	        <div class="top-sch-box top-sch-boxtwo flex-col">
	        <h4>产品详情</h4>
	      
	        </div>
	        <a class="btn" href="#">
	            <i class="iconfont icon-gouwuche"></i>
	            <span>2</span>
	        </a>
	    </header>
		<!--header end-->
		
		<div class="warp warptwo clearfloat">
			<div class="detail clearfloat">
				<!--banner star-->
				<div class="banner swiper-container">
		            <div class="swiper-wrapper">
		                <div class="swiper-slide"><img class="swiper-lazy" data-src="{$info.pic_url}" alt=""></div>
		            </div>
		            <div class="swiper-pagination"></div>
		        </div>
				<!--banner end-->
				<div class="top clearfloat box-s">
					<div class="shang clearfloat">
						<div class="zuo clearfloat fl over2 box-s">
							<p>厂号:{$info.sn}</p>
							<p>产地:{$info.origin}</p>
						</div>
						<div class="you clearfloat fr">
							<i class="iconfont icon-fenxiang"></i>
							<p>分享</p>
						</div>
					</div>
					<div class="xia clearfloat">
						<p class="jifen fl box-s fu-tit">所在冷库:{$info.place}</p>
						<span class="fr">销量8件</span>
					</div>
				</div>






  <div class=" clearfloat">
	    	<div class="confirm clearfloat">
	    		
	 			<form action="{:U('product/confirm')}" method="post">
				<input type="hidden" name="id" value="{$Think.get.id}">
				<style type="text/css">
					input[type=text]{height: 0px;    width: 110%;  }
					.poU{ float: left; }
				</style>
				<div class="gmshu clearfloat box-s fl">
					<div class="gcontent clearfloat">
						<p class="fl">下单数/柜</p>
			     		<div class="you clearfloat fr">
			     			<ul>
			     			<li><input type="text" name="number" placeholder="2/柜" class="poU"></li>
			     				
			     			</ul>
			     		</div>
					</div>		     		
		     	</div>
				
		     	<div class="gmshu gmshutwo clearfloat box-s fl">
					     		
		     	</div>
		     	 	<div class="gmshu gmshutwo clearfloat box-s fl">
					<div class="gcontent clearfloat">
						<p class="fl">是否批发？</p>
			     		<div class="you clearfloat fr">
			     			<div class="xuan clearfloat">
			     				<div class="radiotwo" > 
								    <label>
								        <input type="radio" name="sell" value="1" />
								        <div class="option"></div>
								        <span class="opt-text">批发</span>
								    </label>
								</div>
			     			</div>
		    				<div class="xuan clearfloat">
			     				<div class="radiotwo" > 
								    <label>
								        <input type="radio" name="sell" value="2" />
								        <div class="option"></div>
								        <span class="opt-text">散发</span>
								    </label>
								</div>
			     			</div>
			     		</div>
					</div>		     		
		     	</div>
	
		     	<div class="gmshu clearfloat box-s fl">
					<p class="fr">共1件商品   合计<samp>￥{$info.price}</samp></p>	     		
		     	</div>
		     	
	    	</div>
	    </div>	    
	    






			</div>
		</div>
		
		<!--footerone star-->
		<div class="footerone clearfloat">
			<div class="left clearfloat fl">
				<ul>
					<li>
						<a href="#">
							<i class="iconfont icon-shangcheng"></i>
							<p>商城</p>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="iconfont icon-kefu1"></i>
							<p>客服</p>
						</a>
					</li>				
				</ul>
			</div>
			<div class="right clearfloat fl">
				<span class="btn fl">加入购物车</span>
				
				<a href="#" class="btn btnone fl"><input type="submit" class="btn btnone fl" value="立刻购买"/></a>
			</div>
		</div>
		</form>
		
		<!--footer star-->
		<include file="Publics/footer" />
		<!--footer end-->
	</body>
	<script type="text/javascript" src="__SHOP_JS__/jquery-1.8.3.min.js" ></script>
	<script src="__SHOP_JS__/mui.min.js"></script>
	<script src="__SHOP_JS__/others.js"></script>
	<script type="text/javascript" src="__SHOP_JS__/hmt.js" ></script>
	<script src="__SHOP_SLICK__/slick.js" type="text/javascript" ></script>
	<script type="text/javascript" src="__SHOP_JS__/shopcar.js" ></script>
	<!--插件-->
	<link rel="stylesheet" href="__SHOP_CSS__/swiper.min.css">
	<script src="__SHOP_JS__/swiper.jquery.min.js"></script>
</html>
